.body-section{
    max-width: 70%;
    margin: 0 auto;
     text-align: center;
    background: linear-gradient( 90deg, rgba(55, 13, 153, 0.9) 0%, rgb(55, 13, 153) 50% );
}
.form-section{
    background-color: white;
     padding: 50px 20px;
     border-radius: 10px;

}
.from{
  margin:10px;
  border: none;
  background-color: whitesmoke;
   font-size: 19px;
   border-radius: 5px;
   padding: 20px; 
   width:80%;
}
#btn{
    background: #2850a5;
cursor:pointer;;
  font-size: 19px;
  color:white;
  padding: 20px;
   margin: 10px;
  border: none;
   border-radius: 5px;
   width:85%;
  
}

#btn:hover 
{
    background-color: #041d78
}

.btn-link{
    color:#2850a5;
    text-decoration:none;
    
}

 p{
    color: #b1b3ba;
 }




h2 {
    font-size: 4rem;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
   
}

img {
     width: 100px;
     
}
.try { color:greenyellow;
font-size:xx-large;
}

